body {
    background-color: linear-gradient(to right, blue, red);
 }
 #container {
    background-color: white;
    height: 525px;
    width: 360px;
    margin: 100px auto; /* Give the element a margin of 100px on the top and bottom and autopmatically calculate the left and right margin to centert it horizontally */
    border-radius: 20px; /* Round off the edges of the element */
    box-shadow: 5px 10px blue;
 }

 h1 {
    background-color: black;
    color: white;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 }

 p {
     padding-left: 20px;
 }

 #billAmt {
     margin-left: 20px;
 }

 #billAmt:focus {
     border: 3px solid coral;
 }